
body {
    margin: 0;
    font-family: sans-serif;
    background: #0a0a0a;
    color: white;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: relative;
}

.logo-link {
    display: flex;
    align-items: center;
}

.logo {
    height: 40px;
    width: auto;
}

#lang-toggle {
    background: none;
    color: white;
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.hamburger {
    font-size: 2em;
    cursor: pointer;
    display: none;
}

#mobile-menu {
    position: absolute;
    top: 60px;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.85);
    z-index: 1000;
    display: none;
    flex-direction: column;
    background: #111;
    padding: 10px;
}

#mobile-menu.show {
    max-height: 250px;
    overflow-y: auto;
    display: flex;
}

#mobile-menu a {
    font-size: 0.9em;
    padding: 6px 0;
    color: white;
    text-decoration: none;
    padding: 10px 0;
}

main {
    text-align: center;
    padding: 30px 15px;
}

.section {
    margin-bottom: 40px;
}

.section img {
    width: 100%;
    max-width: 300px;
    margin-bottom: 10px;
    border-radius: 15px;
}

.subtext {
    font-size: 1.1em;
    opacity: 0.8;
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
    }
}


html {
    scroll-behavior: smooth;
}

.section {
    min-height: 100vh;
    padding-top: 80px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-top: 0px;
    padding-bottom: 40px;
}
#welcome h1, #welcome h2, #welcome p {
    margin: 0.2em 0;
}
